*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
}

#parcours {
    background-color: #991e36;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.section {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

    .section h2 {
        background-color: #991e36;
        color: #fff;
        padding: 5px;
        border-radius: 3px;
    }

.seat-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.seat {
    
    border: 1px solid #ddd;
    padding: 5px;
    margin: 1px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

#top {
    top: -40px;
    left: -50%;
}

#bottom {
    top: 25px;
    left: -50%;
}

#